.cards__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.cards__menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}

.cards__menu-img {
    width: 100%;
}

.cards__menu-tittle {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--branco);
}

.cards__menu-tittle::after {
    content: "";
    background: url(../img/link.svg) no-repeat center / 1.5rem;
    padding-right: 4rem;
}

.cards__menu-text {
    font-size: 16px;
    color: var(--cinza);
    line-height: normal;
    text-align: initial;
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    text-align: initial;
    padding: 1rem;
    background: var(--cinza-escuro);
    border-radius: 0 0 5px 5px;
    max-height: 232px;
    max-width: 390px;
    overflow: scroll;
}

.description::-webkit-scrollbar {
    width: 2px;
}

.description::-webkit-scrollbar-thumb {
    background: var(--acentos);
    border-radius: 10px;
}

.description::-webkit-scrollbar-corner { 
    display: none; 
}

.description__item {
    color: var(--cinza);
}

.description__item::before {
    content: "\2713";
    margin-right: .5rem;
}

@media screen and (min-width: 1024px) {

    .cards__menu-list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
    }

    .cards__menu-item {
        margin: 0 auto;
    }

    .cards__menu-img {
        width: 390px;
        height: 222px;
    }
}

@media screen and (min-width: 1440px) {
    .cards__menu-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 6rem;
        gap: 1.5rem;
    }

    .cards__menu-item {
        margin: 0;
    }
}