.experience {
    text-align: center;
    margin: 5rem 2rem 2rem 2rem;
    opacity: 0;
    transition: .4s;
}

.experience__tittle {
    font-size: 24px;
    font-weight: 500;
}

.swiper-wrapper {
    margin-top: 2rem;
}

.swiper-slide img {
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .experience__tittle {
        font-size: 28px;
    }

    .swiper {
        width: 85%;
    }
}
