.presentation__section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    margin: 5rem 1rem;
}

.presentation__menu {
    display: none;
}

.presentation__container {
    text-align: center;
    line-height: normal;
}

.presentation__tittle {
    font-size: 20px;
    font-weight: 500;
}

.presentation__tittle::after {
    content: "";
    background: url(../img/server\ 1.svg) no-repeat center;
    padding: 1rem;
}

.presentation__text {
    color: var(--cinza);
    margin: .5rem 0;
}

.presentation__button {
    padding: 1rem 1.5rem;
    background: var(--acentos);
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
}

.button-contact {
    border: 1px solid var(--cinza);
    background: none;
    border-radius: 10px;
    margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
    .presentation__section{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        gap: 0;
        column-gap: 4rem;
        margin-right: 0;
    }

    .presentation__container {
        text-align: initial;
        padding: 0 2rem;
    }

    .buttons {
        grid-column: 1;
    }

    .presentation__img {
        grid-column: 2;
        grid-row: 1 / 3;
        background: url(../img/vector-graph.svg);
        width: 336px;
        height: 209px;
    }

    .presentation__menu {
        display: block;
        grid-column: 3;
        grid-row: 1 / 4;
    }

    .presentation__menu-link img{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .presentation__section {
        display: grid;
        align-items: initial;
        column-gap: 3rem;
        grid-template-columns: auto 1fr 1fr;
        margin: 5rem 0;
    }

    .presentation__container {
        margin-left: 10rem;
    }

    .presentation__menu {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .presentation__tittle {
        grid-column: 2;
        font-size: 32px;
    }

    .presentation__text {
        font-size: 22px;
    }

    .buttons {
        grid-column: 2;
        grid-row: 2;
    }

    .button-contact {
        margin-left: 5rem;
    }

    .presentation__img {
        grid-column: 3;
        grid-row: 1 / 3;
        background-repeat: no-repeat;
        width: 500px;
        height: 300px;
        background-size: contain;
        margin-left: 3rem;
    }
}