.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    line-height: normal;
    text-align: center;
    padding: 2rem 1rem;
    opacity: 0;
    transition: .4s;
}

.projects__tittle {
    font-size: 24px;
    font-weight: 500;
}

.projects__text {
    color: var(--cinza);

}

@media screen and (min-width: 1024px) {
    .projects__text {
        font-size: 20px;
        width: 500px;
    }
}

@media screen and (min-width: 1440px) {
    .projects__tittle {
        font-size: 28px;
    }

    .projects__text {
       font-size: 24px; 
       width: 50%;
    }
}